{
  "mcpServers": {
    "obsidian-mcp": {
      "type": "local",
      "command": "node",
      "tools": [
        "*"
      ],
      "args": [
        "/obsidian-mcp/build/index.js"
      ]
    },
    "todoist": {
      "type": "http",
      "url": "https://ai.todoist.net/mcp",
      "headers": {
        "Authorization": "Bearer ${TODOIST_TOKEN}"
      },
      "tools": [
        "*"
      ]
    },
    "github": {
      "type": "http",
      "url": "https://api.githubcopilot.com/mcp/",
      "headers": {
        "Authorization": "Bearer ${GITHUB_TOKEN}"
      },
      "tools": [
        "*"
      ]
    }
  }
}
